
body {
padding:0;
margin:0;
font-family:helvetica;
display: flex;
flex-direction: row;
}

.content {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: calc(100vw-20px);
   
    
}

/* Header css */

.header {
    display:inline-block;
    width:250px;
    background: #191919;
    padding: 30px 0;
    position: fixed;
    height: 100vh;
    transform: translate(-215px, 0px);
    box-shadow: 0px 0px 10px 5px black;
    transition: transform, 0.3s, ease-in-out;
    text-align: center;
   
}

.header:hover {
    transform:translate(0px, 0px);
    
    
}


.header .logo {
    width: 50%;
    height: auto;
    margin:auto;
    margin-bottom:30px;
    fill: currentColor;
   
   
    
    
}



.header a {
    text-decoration: none;
    color:#A2A2A2;
    transition:color, .2s , ease-in;
    
}

.header a:hover {
    color:#474747;
    
    
}

.header ul{
    text-decoration: none;
    list-style-type: none;  
    text-align: center;
    margin: auto;
    padding: 0;
    position: relative;

}

.header ul li {
    font-size:25px ;
    margin-top: 40px;
    color: #A2A2A2;
        
    
}

.menuicon {
    position: absolute;
    top:50%;
    right: 5px;
    width: 20px;
    height: auto;
    transition: translate , 0.5s ,ease-in-out;
    
    
    
    
}




.header:hover .menuicon {
    transform: translate(0px , 60vh);
}

/* end HEADER CSS */

/* Body CSS */

.weblogo {
    position: absolute;
    min-height: 20px;
    max-height: 8vh;
    width: auto;
    top: 1em;
    right: 1em;
    
    
}

.section {
    padding-right: 30px;;
    
}



@media  screen and (max-width:1024px){
    
    body {
        display: flex;
        flex-direction: column;
        
        
    }
    
    
    
    /*css slide in menu bar*/
    
   
   
    
    .header {
        display: block;
        text-align: center;
    }
    
    .header:hover {
        width: 30%;
        
    }
    
    .content {
        display: block;  
        
    }
    
    .header ul li {
        width: 70%;
        
    }
    
   
    
}










